/* line 18, ../sass/styles.scss */
body {
  font-family: Lato, Arial;
  color: #fff;
  padding: 20px 40px;
  padding-top: 5px;
  background-color: #7dd7e4;
}

/* line 25, ../sass/styles.scss */
h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 30, ../sass/styles.scss */
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

/* line 37, ../sass/styles.scss */
p {
  margin-top: 200px;
}
/* line 39, ../sass/styles.scss */
p a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #22a9b9;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 48, ../sass/styles.scss */
p a:hover {
  background-color: #209dac;
}

/* line 53, ../sass/styles.scss */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

/* line 58, ../sass/styles.scss */
.select {
  margin-bottom: 16px;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 35px;
}

/* line 70, ../sass/styles.scss */
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #24b1c2;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 79, ../sass/styles.scss */
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
/* line 89, ../sass/styles.scss */
.select-styled:hover {
  background-color: #22a9b9;
}
/* line 92, ../sass/styles.scss */
.select-styled:active, .select-styled.active {
  background-color: #209dac;
}
/* line 94, ../sass/styles.scss */
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

/* line 100, ../sass/styles.scss */
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #209dac;
}
/* line 111, ../sass/styles.scss */
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #1c8a97;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 117, ../sass/styles.scss */
.select-options li:hover {
  color: #24b1c2;
  background: #fff;
}
/* line 121, ../sass/styles.scss */
.select-options li[rel="hide"] {
  display: none;
}

/* line 127, ../sass/styles.scss */
.input-grup {
  display: block;
  margin-bottom: 15px;
  margin-top: 4px;
}

/* line 133, ../sass/styles.scss */
.input-value {
  width: 88px;
  height: 35px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #24b1c2;
  padding: 8px 15px;
  margin-left: -4px;
}

/* line 145, ../sass/styles.scss */
.label-input {
  display: inline-block;
  width: 132px;
}

/* line 150, ../sass/styles.scss */
.label-values {
  background: #24b1c2;
  width: 88px;
  height: 35px;
  display: inline-block;
  position: absolute;
  left: 250px;
  padding: 8px 15px;
  text-align: right;
}

/* line 160, ../sass/styles.scss */
.label-result {
  background: #24b1c2;
  width: 88px;
  text-align: right;
  height: 23.33333px;
  margin-bottom: 2px;
  margin-left: 30px;
  padding: 2px 10px;
  vertical-align: middle;
}

/* line 172, ../sass/styles.scss */
.btn.btn-default {
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #fff;
  color: #209dac;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 179, ../sass/styles.scss */
.btn.btn-default:hover {
  color: #14636c;
  border: 1px solid #209dac;
}
/* line 183, ../sass/styles.scss */
.btn.btn-default:focus {
  outline: none;
}
/* line 186, ../sass/styles.scss */
.btn.btn-default:active {
  border: 1px solid #22a9b9;
  background-color: #75d4e2;
}

/* line 192, ../sass/styles.scss */
.content {
  padding: 0;
  padding-top: 3em;
  padding-left: 16%;
}

/* line 199, ../sass/styles.scss */
.menu li {
  text-align: center;
}
/* line 201, ../sass/styles.scss */
.menu li a {
  display: inline-block;
  font-size: 22px;
  padding: 5px 10px;
  margin: 0 5px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 208, ../sass/styles.scss */
.menu li a:hover {
  color: #08282b;
}

/* line 215, ../sass/styles.scss */
.menu li.active {
  border-bottom: 2px solid #fff;
}

/* line 219, ../sass/styles.scss */
.menu .col-xs-4 {
  padding-left: 0;
  padding-right: 0;
}

/* line 224, ../sass/styles.scss */
.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 440px;
  height: auto;
}

/* line 231, ../sass/styles.scss */
.flex-container-in {
  display: -webkit-flex;
  display: flex;
  width: 220px;
  height: auto;
}

/* line 239, ../sass/styles.scss */
.flex-item {
  width: 220px;
}

/* line 244, ../sass/styles.scss */
.flex-item-in {
  width: 146.66667px;
  margin: auto;
}
