/* line 18, ../sass/styles.scss */
body {
  font-family: Lato, Arial;
  color: #fff;
  padding: 20px 40px;
  padding-top: 5px;
  background-color: #7dd7e4;
}

/* line 25, ../sass/styles.scss */
h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 30, ../sass/styles.scss */
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

/* line 37, ../sass/styles.scss */
p {
  margin-top: 200px;
}
/* line 39, ../sass/styles.scss */
p a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #22a9b9;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 48, ../sass/styles.scss */
p a:hover {
  background-color: #209dac;
}

/* line 53, ../sass/styles.scss */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

/* line 58, ../sass/styles.scss */
.select {
  margin-bottom: 16px;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

/* line 70, ../sass/styles.scss */
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #24b1c2;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 79, ../sass/styles.scss */
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
/* line 89, ../sass/styles.scss */
.select-styled:hover {
  background-color: #22a9b9;
}
/* line 92, ../sass/styles.scss */
.select-styled:active, .select-styled.active {
  background-color: #209dac;
}
/* line 94, ../sass/styles.scss */
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

/* line 100, ../sass/styles.scss */
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #209dac;
}
/* line 111, ../sass/styles.scss */
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #1c8a97;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 117, ../sass/styles.scss */
.select-options li:hover {
  color: #24b1c2;
  background: #fff;
}
/* line 121, ../sass/styles.scss */
.select-options li[rel="hide"] {
  display: none;
}

/* line 127, ../sass/styles.scss */
.input-value {
  width: 220px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #24b1c2;
  padding: 8px 15px;
}

/* line 138, ../sass/styles.scss */
.label-values {
  background: #24b1c2;
  width: 73.33333px;
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 250px;
  padding: 8px 15px;
  text-align: center;
}

/* line 149, ../sass/styles.scss */
.btn.btn-default {
  width: 100%;
}

/* line 153, ../sass/styles.scss */
.content {
  padding: 0;
  padding-top: 2em;
  padding-left: 16%;
}

/* line 160, ../sass/styles.scss */
.menu li {
  text-align: center;
}
/* line 162, ../sass/styles.scss */
.menu li a {
  display: inline-block;
  font-size: 22px;
  padding: 5px 10px;
  margin: 0 5px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 169, ../sass/styles.scss */
.menu li a:hover {
  color: #08282b;
}

/* line 176, ../sass/styles.scss */
.menu li.active {
  border-bottom: 2px solid #fff;
}

/* line 180, ../sass/styles.scss */
.menu .col-xs-4 {
  padding-left: 0;
  padding-right: 0;
}

/* line 185, ../sass/styles.scss */
.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 220px;
  height: auto;
}

/* line 191, ../sass/styles.scss */
.flex-item {
  width: 110px;
  margin: auto;
}
