/* line 18, ../sass/styles.scss */
body {
  font-family: Lato, Arial;
  color: #fff;
  padding: 20px;
  background-color: #7dd7e4;
}

/* line 24, ../sass/styles.scss */
h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 29, ../sass/styles.scss */
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

/* line 36, ../sass/styles.scss */
p {
  margin-top: 200px;
}
/* line 38, ../sass/styles.scss */
p a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #22a9b9;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 47, ../sass/styles.scss */
p a:hover {
  background-color: #209dac;
}

/* line 52, ../sass/styles.scss */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

/* line 57, ../sass/styles.scss */
.select {
  margin-bottom: 16px;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

/* line 69, ../sass/styles.scss */
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #24b1c2;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 78, ../sass/styles.scss */
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
/* line 88, ../sass/styles.scss */
.select-styled:hover {
  background-color: #22a9b9;
}
/* line 91, ../sass/styles.scss */
.select-styled:active, .select-styled.active {
  background-color: #209dac;
}
/* line 93, ../sass/styles.scss */
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

/* line 99, ../sass/styles.scss */
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #209dac;
}
/* line 110, ../sass/styles.scss */
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #1c8a97;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 116, ../sass/styles.scss */
.select-options li:hover {
  color: #24b1c2;
  background: #fff;
}
/* line 120, ../sass/styles.scss */
.select-options li[rel="hide"] {
  display: none;
}

/* line 126, ../sass/styles.scss */
.input-value {
  width: 220px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #24b1c2;
  padding: 8px 15px;
}

/* line 138, ../sass/styles.scss */
.label-values {
  background: #24b1c2;
  width: 73.33333px;
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 250px;
  padding: 8px 15px;
  text-align: center;
}

/* line 149, ../sass/styles.scss */
.btn.btn-default {
  width: 220px;
}

/* line 153, ../sass/styles.scss */
.content {
  padding: 3em;
}
